@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-33.33%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-33.33%);
  }
  100% {
    transform: translateY(0);
  }
}

.scrollColumn1 {
  animation: scrollUp 40s linear infinite;
}

.scrollColumn2 {
  animation: scrollDown 40s linear infinite;
}

.scrollColumn3 {
  animation: scrollUp 40s linear infinite;
}

.scrollColumn1:hover,
.scrollColumn2:hover,
.scrollColumn3:hover {
  animation-play-state: paused;
}
